<!DOCTYPE html>
<html>
	<head>
    <title>A Compliment</title>
    <style>
      fieldset {
        width: max-content;
      }

      #submit {
        margin: 5px 0;
      }
    </style>
	</head>
	<body>
		<p>Hi {{ person }}! I think you're {{ compliment }}!</p>
		<form action="/game">
			<fieldset>
				<legend>Would you like to play a game?</legend>
				<div>
					<input type="radio" id="yes" name="answer" value="yes" />
					<label for="yes">Yes</label>
				</div>
				<div>
					<input type="radio" id="no" name="answer" value="no" />
					<label for="no">No</label>
				</div>
      </fieldset>
      <input type="submit" id="submit">
		</form>
	</body>
</html>
